{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Arcadius!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/529321632926429185/FanmWzlm_200x200.jpeg"><br>
      <b>Arcadius Kazimierski</b><br>
      -1 followers
    </div>
    <div class="col-md-9">
    
 {% for tweet in tweets %}
 <div class="oneTweet">
        <div class="tweetbox">
          <img src="http://lorempixel.com/48/48?{{ tweet.name }}"/>
          <div class="content">
            <div class="by"><a href="/users/{{ tweet.name }}">{{ tweet.name }}</a></div>
            <div><a href="/users/{{ tweet.name }}/tweets/{{ tweet.id }}">{{tweet.text}}</a></div>
          </div>
        </div>
        </div>
      {% endfor %}
          </div>
  </div>
      {% if show_form %}
  <form action="/submit" method="POST">
    <label for="name_field">Name:</label>
    <input name="name" type="text" id="name_field" />
 
    <label for="text_field">Text:</label>
    <input name="text" type="text" id="text_field" style="width: 350px;" />
 
    <input type="submit" value="Submit" />
  </form>
{% endif %}

    
{% endblock %}
